*{
	padding: 0;
	margin: 0;
}
ul,ol,li{
	list-style: none;
}
a{
	text-decoration: none;
}
#shang{
	width: 100%;
	height: 130px;
	background-color: #ffffff;
	z-index: 1;
}
#header{
	width: 1180px;
	height: 130px;
	margin: 0 auto;
}
#shang2{
	height: 40px;
}
#header2{
	width: 1180px;
	height: 40px;
	margin: 0 auto;
}
.bang{
	padding-right: 380px;
	font-size: 11px;
	color: #9a9791;
	margin-top: 10px;
}
.she{
	float: right;
	display: inline-block;
	margin-top: 5px;
}
.she li{
	float: left;
	display: inline-block;
	margin-left: 15px;
}
.qq{
	width: 19px;
	height: 19px;
	background:url(../img/common_min.png) 0 -31px no-repeat; 
}
.wechat{
	width: 19px;
	height: 19px;
	background:url(../img/common_min.png) 0 -53px no-repeat; 
}
.webo{
	width: 19px;
	height: 19px;
	background:url(../img/common_min.png) 0 -75px no-repeat; 
}
.deng{
	font-size: 11px;
	color:#9a9791;
	line-height: 19px;
}
.message{
	padding-left: 18px;
	background:url(../img/common_min.png) -4px -113px no-repeat; 
}
.dan{
	padding-left: 17px;
	background:url(../img/dingdan.jpg) 0 2px no-repeat; 
}
.phone{
	padding-left: 10px;
	background:url(../img/tp-my-phone.png) 0 2px no-repeat; 
}
.shopping{
	padding-left: 20px;
	background:url(../img/gouwuche.jpg) 0 2px no-repeat; 
}
.mai{
	display: inline-block;
	float: left;
	margin-top: 18px;
}
.bao{
	float: left;
	margin-left: 110px;
	margin-top: 30px;
	width: 586px;
	height: 65px;
}
.sou{
	float: left;
	width: 500px;
	height: 34px;
	border:3px solid #fe6c00;
	outline: none;
	border-top-left-radius: 2px;
	border-bottom-left-radius: 2px;
}
.sou2{
	float: left;
	display: inline-block;
	width: 80px;
	height: 40px;
	background-color: #fe6c00;
	font-size:16px;
	color:#ffffed;
	line-height: 40px;
	text-indent: 15px;
	cursor: pointer;
	border-top-right-radius: 2px;
	border-bottom-right-radius: 2px;
}
.goods{
	float:left;
	width: 580px;
	height: 25px;
	margin-top: 3px;
}
.goods li{
	display: inline-block;
	padding: 0 8px 0 5px;
	margin-top: 8px;
	font-size: 11px;
	background:url(../img/shuxian.jpg) right center no-repeat; 
}
.g{
	float: right;
	width: 85px;
	height: 40px;
	margin-top: 30px;
	border: 1px solid #e6e5e2;
	border-radius: 2px;
}
.wen{
	background-color: #ff4d04;
	font-size:14px;
	color:#ffffed;
}
.hao{
	margin-left: 6px;
	margin-top: 13px;
}
.xiao{
	margin: 6px auto 8px;
	width: 15px;
	height: 10px;
	background:url(../img/common_min.png) -4px -117px no-repeat; 
}
.g2{
	font-size: 12px;
	color:#9a9791;
}
.xiao2{
	margin: 6px auto 4px;
	width: 15px;
	height: 15px;
	background:url(../img/common_min.png) -4px -97px no-repeat; 
}
.zui{
	float:left;
	width: 960px;
	height: 40px;
}
.zui li{
	display: inline-block;
	margin-right: 50px;	
	line-height: 40px;
	font-size: 15px;
	font-weight: bolder;
}
.zui li>a{
	color: black;
}
.all{
	width: 170px;
	height: 40px;
	color:#ffffff;
	text-indent: 35px;
	background-color: #ff4d04;
}
#xia{
	height: 890px;
	border-top: 1px solid #fe6c00;
	background-color: #f8f7f6;
}
#centre{
	width: 1180px;
	height: 890px;
	margin: 0 auto;
}
#le{
	float: left;
	display: inline-block;
	width: 170px;
	height: 550px;
}
#hei{
	display: inline-block;
	float: left;
	width: 25px;
	height: 420px;
	background-color: #4c4c4a;
	font-size: 15px;
	color: #eb4c4a;
}
.zi{
	display: inline-block;
	margin-left: 5px;
}
.quan{
	float: right;
	width: 145px;
	height: 420px;
	background-color: #ffffff;
}
.quan li{
	display: inline-block;
	font-size: 12px;
	margin-left: 7px;
	margin-top: 14px;
}
.yi{
	display: inline-block;
	width: 170px;
	height: 130px;
	background-color: #ffffff;
	border-top: 1px solid #fe6c00;
}
.yi li{
	width: 131px;
	height: 22px;
	margin-top: 18px;
	margin-left: 7px;
	padding-left: 32px;
	font-size: 12px;
	color: #855d38;
	line-height: 22px;
}
.yi li:first-child{
	background: url(../img/sort-icon-qa.png ) 0 0 no-repeat; 
}
.er{
	background: url(../img/sort-icon-qa.png ) 0 -60px no-repeat; 
}
.yi li:last-child{
	background: url(../img/sort-icon-qa.png ) 0 -120px no-repeat; 
}
#zho{
	float: left;
	display: inline-block;
	width: 800px;
	height: 550px;
	border-right: 1px solid #fe6c00;
}
#box {
	float: left;
	display: inline-block;
	width: 800px;
	height: 363px;
	position: relative;
	overflow: hidden;
}
.slider {
	display: inline-block;
	width: 6400px;
	position: absolute;
	left: -800px;
}
.slide {
	width: 800px;
	float: left;
}
#box>span {
	display: block;
	width: 60px;
	height: 60px;
	border-radius: 5px;
	top: 130px;
	cursor: pointer;	
	position: absolute;
}
#left {
	left: 15px;
	background: url(../img/btn.gif) 0 0 no-repeat;
}
#right {
	right: 15px;
	background: url(../img/btn.gif) 0 -60px no-repeat;
}
#nav {
	position: absolute;
	left: 320px;
	bottom: 20px;
}
#nav>li {
	float: left;
	width: 20px;
	height: 20px;
	background: #efeeec;
	cursor: pointer;
	margin: 0 10px;
	border-radius: 50%;
	text-align: center;
}
#nav .active {
	background: #fe6c00;
}
.tu{
	display: inline-block;
	float:left;
	border-top: 3px solid #fe6c00;
}
#ri{
	float: right;
	display: inline-block;
	width: 209px;
	height: 550px;
	background-color: #ffffff;
}
#la{
	width: 209px;
	height: 42px;
}
.la1{
	margin-left: 20px;
	margin-top: 10px;
}
.la2{
	margin-left: 70px;
}
#gao{
    width: 204px;
    height: 320px;
    border-top: 1px solid #ebeae7;
    border-bottom: 1px solid #ebeae7;    
    position: relative;
    overflow: hidden;
}
#gao2 {
    width: 204px;
    height: 780px;
    margin-left: 15px;
    position: absolute;
    left: 0;
    top: 0;
}
#gao2::after {
    display: block;
    height: 0;
    clear: both;
}
#gao2 li {
    width: 204px;
    height: 30px;
    float: left;
    color: #ff4d04;
    font-size: 11px;
    font-weight: bolder;
}
.p{
	float: left;
	display: inline-block;
	width: 155px;
    height: 17px;
    margin-left: 14px;	
    margin-top: 8px;
	font-size:11px; 
}
.ph{
	float: left;
	margin-left: 15px;
	margin-top:7px;
}
.p1{
	font-weight: bolder;
}
.p2{
	color: #ff4d04;
	margin-left: 8px;
}
.ji{
	display: block;
	width: 120px;
    height: 22px;
	margin-left: 15px;
    margin-top: 35px;
}
#money{
	float: left;
	margin-left: 15px;
    margin-top: 6px;
}
#mo{
	display: inline-block;
	width: 30px;
	height: 22px;
    margin-top: 4px;
    margin-left: 2px;
    font-size: 15px;
    color: #ff4d04;
    line-height: 22px;
    text-indent: 2px;
}
#mo2{
	width: 180px;
	height: 26px;
	border-radius: 5px;
	line-height: 26px;
	text-align: center;
	color: #ffffff;
	margin: 6px auto 0;
	cursor: pointer;
	background-color: #ff4d04;
}
#ri2{
	display: inline-block;
	width: 1030px;
	height: 180px;
	border-bottom: 1px solid #ebeae8;
}
.a{
	display: inline-block;
	float: left;
	width: 70px;
	height: 130px;
	margin-top: 30px;
	margin-right: 60px;
}
.a li{
	font-size: 11px;
	color: #666560;
	margin-bottom: 10px;
}
.di{
	width: 660px;
	height: 20px;
	margin: 7px auto;
}
.di li{
	display: inline-block;
	padding-left: 7px;
	padding-right: 12px;
	font-size: 11px;
	color: #666560;
	background:url(../img/shuxian.jpg) right center no-repeat; 
}
.z{
	margin: 0 auto 6px;
	font-size: 12px;
	color: #9a9791;
}
.z1{
	width: 480px;
}
.z2{
	width: 1050px;
}
.z3{
	width: 130px;
}
.zan{
	width:778px;
	height: 55px;
	margin: 0 auto;
}
#side{
	width: 123px;
	height: 545px;
	position: fixed;
	top: 30px;
	right: 0;
}
#one{
	position: relative;
	left:80px;
	width: 123px;
	height: 105px;
}
#two{
	position: relative;
	left:80px;
	width: 123px;
	height: 140px;
	margin-top: 5px;
	background-color: #fd9a6e;
}
.wei{
	display: inline-block;
	margin-top: 50px;
	font-size: 11px;
    font-weight: bolder;
}
.lu{
	float: left;
	width: 40px;
	height: 20px;
	margin-top: 15px;
	border:1px solid #fff;
	border-radius:3px;
	font-size: 11px;
	text-align: center;
	line-height: 20px;
	color: #fff;
}
#three{
	position: relative;
	left:80px;
	width: 123px;
	height: 145px;
	margin-top: 5px;
	background-color: #fd9a6e;
}
#four{
	position: relative;
	left:80px;
	width: 123px;
	height: 140px;
	margin-top: 5px;
}
#app{
	float: left;
}
#ser{
	float: left;
	margin-top: 50px;
	margin-left: 10px;
	display: block;
}
#er{
	display: none;
	margin-left: 15px;
}

